API_ID=23067326
API_HASH=2fdbd126ff6350869f3bb12588c7e5bf
BOT_TOKEN=7798159788:AAEpqrxdzbpWIl1PSQSQp5fDTI3k4_SXZMc
LOG_GROUP_ID=-1001861619812
MONGO_DB_URI=mongodb+srv://satyajeetsethy7:eVyUpwtIxSbZ5NnP@cluster0.yna3n.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6703869253
STRING_SESSION=BQFf-r4As2DtSg4nNznhuChR1jkxBgIS82Eudp27zHfYbr-cdpfNTcwVL78KmR5PC1o_F_pp6YCTS5ZloFfDKcTPbs3frLdddiVDUC-XmdaeezbPtfmvSSLWO57gPQ1CFejjqyGgjvDRU3fb83mSqls1xIbZ3lxgR9I4DLwpbbvvB6rtu4SZXT8weXpyqdsoVfnVJ3ImPKZlP8c_EI_psxM9ax1Wz7kEZfxkn1nVnrJehqNLrQZUJLdqlm33OdQgRKntJJR-S1R9cg_Nn-I6_HIi2JvMQ-kSKvCFd9f0rTmpWCQB79-jJt5HmlW7WW-oZ72JLKj8lHP7C8gdxIATinsHB-cJOgAAAAF5aGp0AA
